.input-container {
  position: relative;
  width: 100%;
}

.input {
  width: 100%;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.left-icon,
.right-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  color: inherit;
}

.left-icon {
  left: 0.75rem;
}

.right-icon {
  right: 0.75rem;
}
